/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #151515FF;
    background-alt: #0f0f11B3;
    foreground:     #EFEEEACC;
    selected:       #00B4E0FF;
    active:         #50FA7BCC;
    urgent:         #FF0000CC;
}
